.DS_Store
app/gui/panels/__pycache__/right_panel.cpython-312.pyc
app/gui/panels/__pycache__/register_window.cpython-312.pyc
app/.DS_Store
app/db/__pycache__/db_operations.cpython-312.pyc
app/func/__pycache__/load_pic_gui.cpython-312.pyc
app/func/__pycache__/music_controller.cpython-312.pyc
app/func/__pycache__/playlist_handler.cpython-312.pyc
app/func/__pycache__/utils.cpython-312.pyc
app/gui/panels/__pycache__/bottom_panel.cpython-312.pyc
app/gui/panels/__pycache__/init_page.cpython-312.pyc
app/gui/panels/__pycache__/left_panel.cpython-312.pyc
app/gui/panels/__pycache__/middle_panel.cpython-312.pyc
app/func/__pycache__/add_song.cpython-312.pyc
app/gui/__pycache__/login_window.cpython-312.pyc
app/func/__pycache__/session.cpython-312.pyc
app/gui/__pycache__/app_window.cpython-312.pyc
app/gui/panels/__pycache__/right_panel.cpython-312.pyc
app/gui/panels/__pycache__/right_panel.cpython-312.pyc
