# MacOS system files
.DS_Store

# Python compiled files
__pycache__/
*.py[cod]

# Bytecode cache directories
*.pyo

# Virtual environments
venv/
env/
.virtualenv/
.venv/

# Egg info directories
*.egg-info/
*.egg

# Logs and temporary files
*.log
*.temp
*.swp
*.swo
*.bak
*.tmp
*.~lock.*

# IDE-specific files
.vscode/
*.iml

# Egg info directories
*.egg-info/

