customtkinter==5.2.2
# librosa==0.10.2.post1
matplotlib==3.10.0
mutagen==1.47.0
mysql_connector_repackaged==0.3.1
numpy==2.2.1
Pillow==11.1.0
pydub==0.25.1
pygame==2.6.1
python-dotenv==1.0.1
setuptools==70.0.0
psutil==6.1.1
